@model ProcessVM
@{
    ViewData["Title"] = "Details";
}
<head>
    <style>
        .custom-badge-Failed {
            display: inline-block;
            padding: 0.3em 0.6em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #f86c6b;
        }

        .custom-badge-Success {
            display: inline-block;
            padding: 0.3em 0.6em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #4dbd74;
        }

        .custom-badge-Processing {
            display: inline-block;
            padding: 0.3em 0.6em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #63c2de;
        }
    </style>
</head>


<div class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <strong>PROCESS</strong>
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <div class="col text-center">
                        <h2 class="control-label"><span class="btn btn-ghost-primary">Process Status</span></h2>
                    </div>
                    <div class="col text-center">
                        <h3 class="control-label"><span class="custom-badge-@Model.Status">@Html.DisplayFor(x => x.Status)</span></h3>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-center">
                        <h4 asp-for="PropertyType"><span class=" btn btn-ghost-primary">Property Type</span></h4>
                    </div>
                    <div class="col text-center">
                        <label asp-for="PropertyType" class="control-label">@Html.DisplayFor(x => x.PropertyType)</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-center">
                        <h4 asp-for="DateAdded" class="control-label"><span class=" btn btn-ghost-primary">Date Created</span></h4>
                    </div>
                    <div class="col text-center">
                        <label asp-for="DateAdded" class="control-label">@Html.DisplayFor(x => x.DateAdded)</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-center">
                        <h3 class="control-label"><span class=" btn btn-ghost-primary">Process Type</span></h3>
                    </div>
                    <div class="col text-center">
                        <label asp-for="Type" class="control-label">@Html.DisplayFor(x => x.Type)</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col text-center">
                        <h3 class="control-label"><span class=" btn btn-ghost-primary">Postal Codes</span></h3>
                    </div>
                    <div class="col text-center">
                        <div class="btn-group dropright">
                            <div>
                                <button class="btn btn-outline-primary  dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Postal Codes</button>
                                <div class="dropdown-menu">
                                    @foreach (var item in Model.PostalCode)
                                    {
                                        <a class="dropdown-item">@item</a>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        @*<button class="btn btn-sm btn-primary" type="submit" value="Create" style="padding:6px 40px;">
                                <i class="fa fa-dot-circle-o"></i> Configure new Process
                            </button>*@
                        <a asp-action="Configure" class="btn btn-sm btn-outline-primary" style="padding:6px 40px;">Configure new Process</a>
                    </div>
                    <div class="col text-right">
                        <a asp-action="List" class="btn btn-sm btn-outline-primary" style="padding:6px 40px;">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

