@model PagedList<ProcessVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <style>
        .custom-badge-Failed {
            display: inline-block;
            padding: 0.4em 0.7em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #f86c6b;
        }

        .custom-badge-Success {
            display: inline-block;
            padding: 0.3em 0.6em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #4dbd74;
        }

        .custom-badge-Processing {
            display: inline-block;
            padding: 0.3em 0.6em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-radius: 10rem;
            color: #fff;
            background-color: #63c2de;
        }
    </style>
</head>


<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Processes</div>
                        <div class="col text-right"> <a class="btn btn-outline-primary" asp-action="Configure">Configure New</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Type </th>
                                <th>Date Created</th>
                                <th> Date Modified</th>
                                <th>  Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateAdded)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateModified)
                                    </td>
                                    <td>
                                        <h4><span class="custom-badge-@item.Status"> @Html.DisplayFor(modelItem => item.Status)</span></h4>
                                    </td>

                                    <td>
                                        <div class="row">
                                            <div class="col" style="padding-right:0px;">
                                                <form asp-action="ReExecute" asp-route-id="@item.Id" method="post">
                                                    <button class="btn btn-outline-primary" type="submit"><i class="icon-shuffle icons"></i>&nbsp;Execute</button>
                                                </form>
                                            </div>
                                            <div class="col"  style="padding-left:0px;">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="text-center">
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.CurrentPage"
                  cs-paging-totalitems="@Model.TotalCount"
                  cs-pagenumber-param="pageNumber"
                  asp-controller="Process"
                  asp-action="List"></cs-pager>
    </div>
</div>
